:root{
    --primary-color: #2E2E2E;
    --accent-color: #D72638;
    --secondary-color: #141414;
    --secondary-background: #ffffff;
    --soft-gray: #B0B0B0;
}
@media screen and (min-width: 800px){

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
    }
    
    h1,h2,h3,h4,h5,h6{
        font-family: "Roboto", sans-serif;
        font-weight: 700;
    }

    #myButton{
        display: none;
    }

    ul.menuLinks, ul.menuLinks.open{
        display: flex;
        justify-content: flex-end;
    }

    ul.menuLinks a:hover{
        background-color: rgba(255, 255, 255, 0.2);
    }

    #animatedme{
        grid-template-rows: 1fr;
        padding: 1em;
    }

    .discover-grid div figure img:hover{
        padding: .5em;
    }

    

    footer{
        justify-content: center;
        flex-direction: row;
    }

}