:root{
    --primary-color: #2E2E2E;
    --accent-color: #D72638;
    --secondary-color: #141414;
    --secondary-background: #ffffff;
    --soft-gray: #B0B0B0;
}

html, body{
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

header{
    margin: 0 auto; 
    display: grid;
    grid-template-columns: 44px auto 44px;
    align-items: center;
    gap: 2em;

    background-color: var(--primary-color);
    color: var(--secondary-background);
    padding: 1rem;
}

#animatedme{
    background-color: var(--secondary-color);
    margin: 0;
    padding: 1em 0;
}

#myButton{
    font-size: 2em;
    background: none;
    border: none;
    color: var(--secondary-background);
    cursor: pointer;
    width: 100%;
    text-align: right;
    padding: .25rem 2vw;
}

#myButton::before{
    content: "\2630";
}

ul.menuLinks li a{
    display: block;
    padding: 0.75rem 2vw;
    color: var(--secondary-background);
    text-decoration: none;
}

li.current-menu-item a {
    background-color: rgba(255, 255, 255, 0.2);
}

ul.menuLinks{
    list-style: none;
}

#myButton.open::before{
    content: "x";
}

nav{
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
    padding: 1em;
}

nav ul{
    overflow: hidden;
}

nav.open{
    grid-template-rows: 1fr;
}

.directory{
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);

    align-items: center;

    gap: 2em;

    padding: 1em;
    margin: 3em 10%;
}

.directory > h1{
    text-align: center;
    color: var(--secondary-background);
    font-size: 2em;
    margin-bottom: 1em;
}



.directory > div > span{
    text-align: center;
    color: var(--secondary-background);
    font-size: 1.3em;

    border-bottom: 1px solid var(--soft-gray);

    padding: .5em 1em;

    margin: 1em;

    cursor: pointer;

    border-radius: 5px 5px 0 0;

}

.directory > div > span:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

@media screen and (max-width:780px){

    .directory{
        gap: 1em;

        margin: 2em 0;
    }

    .directory > div{
        display: flex;
        flex-direction: column;
    }

    .directory > div > span{
        display: none;
    }

}

.hero{
    display: flex;
    position: relative;
    flex-direction: column;
    max-width: 90%;
    height: auto;
    margin: 3em auto;
}

.hero > h1{
    background-color: rgba(0, 0, 0, 0.9);
    color: var(--secondary-background);
    font-size: 2.4em;
    text-align: center;
    padding: 1em;
    margin: 1em 0 0 0;
}

.join-weather{
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;

    justify-content: space-around;
}

.join-weather > img{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: -1;

    background-color: var(--secondary-color);
}

.join-weather > article{

    align-content: center;
}

.join{
    flex-basis: 50%;
}

.weather{
    flex-basis: 40%;
}

.join, .weather{
    display: flex;
    flex-direction: column;
    gap: 1em;

    justify-content: center;


    background-color: rgba(0, 0, 0, 0.9);
    color: var(--secondary-background);

    text-align: center;
    line-height: 2em;

    margin: 1em 0;
    padding: 1em;
    border-radius: 5px;
}

.join > h2{
    font-size: 1.7em;
    padding-bottom: 1em;
    border-bottom: 2px solid var(--secondary-background);
}

.join > ol{
    list-style: none;
}

.join > ol > li{
    border-bottom: 1px solid var(--secondary-background);
    max-width: 80%;
    margin: 1em auto;
}

.three-members{
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.three-members > h2{
    color: var(--secondary-background);
    text-align: center;
    margin-top: 1em;
    width: 100%;
}

.member-container{
    display: flex;
    flex-wrap: wrap;
    width:80%;
    margin: 0 auto;
}

.member-container > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    flex-basis: 30%;
    height: 500px;

    margin: 2em 0;

    color: var(--secondary-background);
    background-color: var(--primary-color);
    padding: 1em;
}

.member-container > div > h3{
    border-bottom: 3px solid var(--soft-gray);
    padding-bottom: 1em;
}

.member-container > div > img{
    width: 250px;
    height: 150px;
    align-self: center;
}

.weather > img{
    width: 120px;
    height: 120px;

    align-self: center;
}

#threeDaysForecast{
    display: flex;
    justify-content: center;
    gap: 1em;
}

#threeDaysForecast > div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#threeDaysForecast > div > img{
    width: 80px;
}

.button{
    display: block;
    text-decoration: none;
    font-size: 1.3em;
    background-color: var(--secondary-background);
    color: var(--secondary-color);
    margin: 0 auto;
    padding: .5em 1em;


    border-radius: 5px;

    border-bottom: 3px solid var(--primary-color);

    transition: .1s transform ease-in;
}

.button:hover{
    background-color: var(--secondary-background);
    color: var(--secondary-color);
    border-bottom: 3px solid var(--accent-color);
    transform: scale(1.05);
}

#currentEvents{
    background-color: var(--soft-gray);
    width: 100%;
    height: auto;
    text-align: center;
    padding: 4em 0;
   
}

#currentEvents > h2{
    margin: 1em;
    font-size: 1.9em;
}

.current-events{   
    max-width: 700px;
    max-height: 530px;
    overflow: hidden;
    margin: 0 auto;
    
}

#eventsContainer{
    display: flex;
    transition: transform 0.5s ease-in;

}

.current-events > div > div{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    position: relative;
}

.current-events > div > div > figure{
    max-width: 100%;
    position: relative;
    background-color: var(--primary-color);
    text-align: center;
    height: auto;
    flex-shrink: 0;
}

.current-events > div > div > figure > img{
    width: 700px;
    height: 530px;
}



.current-events > div > div  > figure > figcaption{
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 2em;
    font-size: 1.2em;

    background-color: rgba(255, 255, 255, 0.6);
}

#membersContainer{
    display: flex;
    gap: 2em;
    flex-wrap: wrap;

    justify-content: space-evenly;
    align-items: center;

}


.member-card{
    max-width: 400px;
    height: 500px;

    align-content: center;

    background-color: var(--secondary-background);

    padding: 1em;
    border-radius: 5px;
    text-align: center;

    line-height: 2em;

    box-sizing: border-box;

}



.member-card > img{
    max-width: 200px;

    border-radius: 5px;
    box-sizing: border-box;
    padding: .1em;
    margin-bottom: 2em;
}

.member-card > *{
    box-sizing: border-box;
}

.join-main{
    background-color: var(--accent-color);
    display: flex;
    flex-wrap: wrap;
    gap: 0 2em;
    width: 90%;
    margin: 0 auto;
    justify-content: space-around;
}

@media screen and (max-width:1000px){
    .join-main{
        width: 100%;
        flex-direction: column;
    }

    .join-main > form{
        flex-basis: 100%;
    }

    .join-main > section{
        flex-basis: 100%;
    }
}

.join-main h1{
    flex-basis: 100%;
    text-align: center;
    color: var(--secondary-background);
}

.join-form{
    flex-basis: 50%;
    margin: 2em 0;
    padding: 2em 0;

    background-color: var(--secondary-color);
    color: var(--secondary-background);
}
input, label, textarea, select{
    border: none;
}



.join-form fieldset{
    margin: 1em 2em;

    border: 3px solid var(--accent-color);
}

.join-form fieldset > legend{
    font-size: 1.4em;
    margin-left: 1em;
}

.join-form > fieldset > input[type="text"], input[type="tel"], input[type="email"], textarea{
    display: block;
    width: 100%;
    margin: .5em 0;
    padding: .7em 1em;
}

.join-form > fieldset > textarea{
    resize: none;
}

.join-form > fieldset > input[type="radio"]{
    display: inline-block;
    width: 100%;
}

input[type="datetime"]{
    display: none;
}

select{
    display: block;
    width: 200px;
    max-width: 100%;
    margin: 1em 0;
    padding: 1em .7em;
}

input[type="submit"]{
    display: block;
    margin: 0em 2em ;
    justify-self: center;
    padding: 1em;

    background-color: var(--secondary-color);
    color: var(--secondary-background);
    border: 3px solid var(--soft-gray);
    border-bottom: 5px solid var(--accent-color) ;
    border-radius: 3px 3px 0 0;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: var(--secondary-background);
    color: var(--secondary-color);
}



.required{
    border-left: 5px solid var(--accent-color);
}

.filled{
    border-left: 5px solid var(--soft-gray);
}

.membership-level-container{
    flex-basis: 40%;

    display: flex;
    flex-direction: column;    
    gap: 3em;

    margin: 2em 0;
    padding: 2em;
    background-color: var(--secondary-color);
}

.membership-level-container > h2{
    text-align: center;
    font-size: 1.7em;
    color: var(--secondary-background);
}

.membership-level-container > article{
    display: flex;
    flex-direction: column;
    gap: 2em;
    background-color: var(--secondary-background);
    width: 70%;
    margin: 0 auto;
    padding: 2em;
    text-align: center;
}

.membership-level-container > article > button{
    max-width: 100%;
    padding: 1em 2em;
    margin: 0 auto;

    background-color: var(--primary-color);
    color: var(--secondary-background);
    border: 3px solid transparent;
    border-bottom: 3px solid var(--accent-color);
}

.membership-level-container > article > button:hover{
    background-color: var(--secondary-background);
    color: var(--secondary-color);
    border: 3px solid var(--accent-color);
}

#modal{
    margin: 6em auto;
    
    min-width: 300px;
    max-width: 700px;
    height: auto;

    padding: 3em;
    background-color: var(--secondary-background);
    border: 5px solid var(--accent-color);

    font-size: 1.3em;
}

#modal > h2{
    margin-bottom: 1em;
    border-bottom: 3px solid var(--secondary-color);
}

#modal > p{
    margin-bottom: 1em;
}

#modal > ul{
    margin-top: 1em;
    margin-left: 1em;
    line-height: 1.5em;
}

::backdrop{
    background-color: rgb(0 0 0 / 0.5);
}

#modal > button{
    display: block;
    position: absolute;
    top: 23px;
    right: 23px;
    padding: .5rem;
    border: 3px solid rgb(0 0 0 / 0.1);

}

.thank-page{
    min-width: 320px;
    max-width: 700px;
    height: auto;

    margin: 6em auto;
    padding: 1em;

    display: flex;
    flex-direction: column;
    gap: 1em;

    justify-content: center;

    line-height: 2em;

    font-size: 1.4em;

    background-color: var(--secondary-color);
    color: var(--secondary-background);
    border: 3px solid var(--accent-color);
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;

    flex-direction: column;

    line-height: 2em;

    background-color: var(--primary-color);
    color: var(--secondary-background);

    padding: 1.5em  .3em;
}

.social-nav{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.social-nav > a{
    flex: 1;
    width: 50px;
    margin: 1em;
}

.social-nav img{
    width: 40px;
    height: 40px;
    transition: transform 0.1s ease-in-out;

    border-radius: 40%;
}

.social-nav img:hover{
    transform: scale(1.2);
}
