@media (min-width: 640px) and (max-width: 1024px){
    .discover{
        width: 100%;
    }

    .discover-grid div{
        max-width: 100%;
        margin: 1rem auto;
        border: 1px solid var(--accent-color);
        background-color: var(--secondary-background);
        border-radius: 10px;
        overflow: hidden;

        display: grid;
        grid-template-areas: 
        "photograph name"
        "photograph description"
        "photograph location"
        "photograph button"
    }

    .discover-grid div figure{
        max-width: 350px;
        height: 100%;
        grid-area: photograph;
    }
    
    .discover-grid div img{
        max-width: 350px;
        height: 100%;
    }
    .discover-grid div figure img:hover{
        padding: .5em;
    }
    
}