@media screen and (max-width:900px){
    .join-weather{
        width: 100%;
        margin: 0 auto;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .join-weather > img{
        position: relative;
        width: 100%;
        max-height: 600px;
        margin: 0;
        z-index: -1;
    
        background-color: var(--secondary-color);
    }
    .join-weather > article{
        max-width: 100%;
        justify-content: center;
    
        align-content: center;
    }

    .join, .weather{
        margin: 1em 0;
        padding: 2em;
    }

    #threeDaysForecast{
        justify-content: center;
    }
    
    .three-members > h2{
        width: 100%;
    }
    .member-container{
        width:100%;
        flex-direction: column;
    }
    
    .member-container > div{
        width: 80%;
    }

    .member-container > div > img{
        max-width: 70%;
        height: auto;
        align-self: center;
    }

}

