@media screen and (max-width:800px){

    main, body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .join-weather{
        width: 100%;
        margin: 0 auto;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .join-weather > img{
        position: relative;
        width: 100%;
        max-height: 600px;
        margin: 0;
        z-index: -1;
    
        background-color: var(--secondary-color);
    }
    .join-weather > article{
        max-width: 100%;
        justify-content: center;
    
        align-content: center;
    }

    .join, .weather{
        margin: 1em 0;
        padding: 2em;
    }

    #threeDaysForecast{
        justify-content: center;
    }
    
    .three-members > h2{
        width: 100%;
    }
    .member-container{
        width:100%;
        flex-direction: column;
    }
    
    .member-container > div{
        width: 80%;
    }

    .member-container > div > img{
        max-width: 70%;
        height: auto;
        align-self: center;
    }

    fieldset > legend{
        text-align: center;
        margin-left: 0px;
        padding: 0px;
    }

    .discover{
        width: 100%;
    }

    .discover-grid{
        width: 100%;
    }

    .discover-grid div{
        max-width: 500px;
        margin: 1rem auto;
        border: 1px solid var(--accent-color);
        background-color: var(--secondary-background);
        border-radius: 10px;
        overflow: hidden;
    
        display: grid;
        grid-template-areas: 
        "name"
        "description"
        "photograph"
        "location"
        "button";

        justify-content: center;
    }

    .discover-grid div figure{
        max-width: 100%;
        height: auto;
        grid-area: photograph;
    }
    
    .discover-grid div img{
        max-width: 100%;
        height: auto;
    }

    footer{
        width: 100%;
        margin: 0;
        box-sizing: border-box;
    }

}

