*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: grid;
    grid-template-columns: 44px auto 44px;
    align-items: end;

    background-color: #bbb;
    padding: 1rem;
    margin: 0;
}

nav{
    background-color: #bbb;
    margin: 0;
}

#myButton{
    font-size: 2em;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    width: 100%;
    text-align: right;
    padding: .25rem 2vw;
}

#myButton::before{
    content: "\2630";
}

ul.menuLinks li a{
    display: block;
    padding: 0.75rem 2vw;
    color: white;
    text-decoration: none;
}

li.current-menu-item a {
    background-color: rgba(0, 0, 0, 0.2);
}

ul.menuLinks{
    list-style: none;
}

#myButton.open::before{
    content: "x";
}

nav{
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}

nav ul{
    overflow: hidden;
}

nav.open{
    grid-template-rows: 1fr;
}